page-read-book {
    p{
        color:rgb(39, 39, 39) !important;
        font-size: 1.48rem !important;
        text-align: left !important;
    }
    h1{
        color:black !important;
        font-size: 1.6rem !important;
    }
}
