page-profile {

}

ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 33%;
    text-align: center;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 85%;
    width: 100%;
    color: #fff;
  }